.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/loadingpage.gif') center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: opacity 0.75s, visibility 0.75s;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/landingpage.gif') center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}
